.ContactMe{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #c2a480;
    padding: 15px 50px;
    border-radius: 5px;
    overflow: hidden;
}

.ContactMeTitle{    
    font-size: 30px;
}


.ContactMe p{  
    font-size: 20px;
}

.ContactMe p a{ 
    color: #202020;
    text-decoration: none;
}

.CopyIcon{  
    display: none;
    font-size: 30px;
}

@media screen and (max-width:1098px) {

    .CopyIcon {
        display: block;
    }
    .Author_p{  
        display: none;
    }
}

@media screen and (max-width:778px) {
    .ContactMeTitle{    
        display:none;
    }
}
@media screen and (max-width:570px) {
    .CopyIcon {
        display: none;
    }
    .ContactMe{ 
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
}
