.Knowledge{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #998775;
    padding: 50px;
    border-radius: 15px;
    overflow: hidden;
}

.GridCards{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:50px;
    overflow: hidden;
}

.KnowledgeTitle{
    font-size: 50px;
}