*{  
    margin: 0px;
    padding: 0px;
    font-family: "Freckle Face", system-ui;
}

.App{   
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #77767c;
    color: #ececec;
    padding: 30px;
}