.ExperienceCard{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    background-color: #6b6457;
    width: 400px;
    padding: 25px;
    border-radius: 15px;
    
}

.ExperienceCard_title{
    font-size: 30px;
}

.ExperienceCard_image{
    width:400px;
    border-radius: 15px;
    cursor: pointer;
}

.Experience_types{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #998775;
    width: 400px;
    height: 195px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}

.Container_items{
    display: flex;
    gap: 5px;
}

.item_tecnologe{    
    background-color: #403e3c;
    border-radius: 15px;
    padding: 5px;
}

.unableItem{  
    display: none;
}

.Experience_buttons{    
    background-color: #403e3c;
    color: #ececec;
    font-size: 15px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.Experience_buttons:hover{    
    padding: 14px;
}


.Container_buttons{  
    display: flex;
    gap: 20px;
}

.Buttons_Type{  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:1505px) {  
    .ExperienceCard{    
        width: 350px;
    }
    .ExperienceCard_image{  
        width: 350px;
    }
    .Experience_types{
        width: 350px;
        height: 170px;
    }
    .Container_buttons{ 
        gap: 10px;
    }
    .Buttons_Type{  
        font-size: 15px;
    }
}

@media screen and (max-width:1350px) {
    .ExperienceCard {
        width: 400px;
    }
    .ExperienceCard_image {
        width: 400px;
    }
    .Experience_types {
        width: 400px;
        height: 195px;
    }
}

@media screen and (max-width:1010px) {
    .ExperienceCard {
        width: 400px;
    }
    
    .ExperienceCard_image {
        width: 400px;
    }
    .Experience_types {
        width: 400px;
        height: 195px;
    }
}

@media screen and (max-width:532px) {
    .ExperienceCard {
        width: 260px;
    }
    .ExperienceCard_image {
        width: 260px;
    }

    .Experience_types {
        width: 260px;
        height: 127px;
        font-size: 13px;
    }

    .type{
        display: none;
    }
    .Container_buttons{
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width:384px) {
    .ExperienceCard {
        width: 200px;
        height: 250px;
    }
    .ExperienceCard_image {
        width: 200px;
    }

    .Experience_types {
        width: 200px;
        height: 97px;
        font-size: 10px;
    }

    .ExperienceCard_title{  
        text-align: center;
    }
}
